*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
html, body {
  margin: 0;
  padding: 20px;
  height: 100%;
}

body {
  background-color: rgb(255, 237, 202);
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin-top: 100px;
}

/* Add your CSS here */

h1{
  text-align: center;
  font-size: 50px;
  color: rgb(0, 2, 2);
}
#gameboard{
  border-collapse: collapse;
  width: 100%;
  height: 50%;
}
td:nth-child(1){
  border-right: solid;
  border-width: 7px;
  border-color:rgb(158, 78, 21);
}
td:nth-child(2){
  border-right: solid;
  border-width: 7px;
  border-color:rgb(158, 78, 21);
}
tr:nth-child(1){
  border-bottom: solid;
  border-width: 7px;
  border-color:rgb(158, 78, 21);
}
tr:nth-child(2){
  border-bottom: solid;
  border-width: 7px;
  border-color:rgb(158, 78, 21);
}
td,tr{
  text-align: center;
  height: 120px;
  width: 120px;
  font-size: 100px;
}

h2{
  text-align: center;
  font-size: 30px;
  color:rgb(43, 144, 207);
}
h2:nth-child(1){
  visibility: hidden;
  background-color: #7fb87f; 
  color: #ffffff;
  padding: 10px 20px; 
  border-radius: 5px;
  font-size: 18px; 
  text-align: center;
  margin: 20px auto;
  max-width: 300px; 
  font-size: larger;
 
}

#winningplayer{
  color: rgb(242, 9, 28);
}
.osquare{
  color: red;
}
.xsquare{
  color:blue;
}
#reset {
  background-color: #f44336; 
  color: #ffffff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
}

#reset:hover {
  background-color: #381111;
}